<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -MultiViews -Indexes
    </IfModule>

    RewriteEngine On

    # Nếu đường dẫn không phải là file thật hay thư mục thật
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f

    # Thì chuyển hướng tất cả về index.php
    RewriteRule ^(.+)$ index.php?url=$1 [QSA,L]
</IfModule>